.header__logo {
  background-image: url(../.././../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 142px;
  height: 33px;
  text-decoration: none;
  padding-bottom: 40px;
  transition: 0.5s;
}

.header__logo:hover {
  opacity: 0.8;
}

@media screen and (max-width: 960px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 500px) {
  .header__logo {
    padding-bottom: 31.6px;
    width: 104px;
    height: 24.4px;
  }
}
