.footer {
  margin: 0 auto;
  padding-top: 67px;
  padding-bottom: 60px;
  max-width: 880px;
}

@media screen and (max-width: 900px) {
  .footer {
    padding-left: 19px;
  }
}

@media screen and (max-width: 625px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
