.popup__input-text {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 358px;
  height: 40px;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 2px;
  outline: none;
  box-shadow: 0 0 0 25px #ffffff inset;
}

@media screen and (max-width: 625px) {
  .popup__input-text {
    width: 238px;
  }
}
