.photo-item__like {
  margin: 0;
  width: 22px;
  height: 19px;
  background-image: url(../.././../images/like.svg);
  cursor: pointer;
  border: none;
  padding: 0;
  transition: 0.5s;
  background-color: transparent;
}

.photo-item__like:hover {
  opacity: 0.5;
}
