.profile__info {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 24px;
  column-gap: 18px;
  row-gap: 16px;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .profile__info {
    column-gap: 9px;
    row-gap: 8px;
  }
}

@media screen and (max-width: 625px) {
  .profile__info {
    grid-template-columns: 1fr 18px;
    column-gap: 10px;
    row-gap: 14px;
    padding-top: 26px;
  }
}
