.profile__info {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 24px;
  column-gap: 18px;
  row-gap: 8px;
  align-items: baseline;
}

@media screen and (max-width: 750px) {
  .profile__info {
    column-gap: 9px;
  }
}

@media screen and (max-width: 625px) {
  .profile__info {
    grid-template-columns: 1fr 18px;
    column-gap: 10px;
    padding-top: 24px;
    padding-left: 26px;
  }
}
