.photo-place__list {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  column-gap: 17px;
  justify-content: center;
  row-gap: 20px;
  list-style: none;
  padding-left: 0;
  padding-left: 19px;
  padding-right: 19px;
}
