.photo-place {
  margin: 0 auto;
  padding-top: 51px;
  max-width: 918px;
}

@media screen and (max-width: 932px) {
  .photo-place {
    max-width: 850px;
  }
}

@media screen and (max-width: 635px) {
  .photo-place {
    padding-top: 36px;
    max-width: 520px;
  }
}
